[Unit]
Description=Suit CMS Server
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=/usr/bin/node /home/jwebbb01_gmail_com/Suit/main.js
WorkingDirectory=/home/jwebbb01_gmail_com/Suit/
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=suit

[Install]
WantedBy=multi-user.target
